<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jack D. Douglas</title>
  <link rel="stylesheet" href="/css/default.css" />
</head>

<body>
  <header>
    <div class="analog-clock">
      <div class="clock-face">
        <div class="hand hour-hand"></div>
        <div class="hand minute-hand"></div>
        <div class="hand second-hand"></div>
        <div class="center-dot"></div>
      </div>
    </div>
    <div class="nav">
      <a href="/">
        <h3>THE NOTEBOOK OF</h3>
        <h2>Jack D. Douglas</h2>
      </a>
    </div>
  </header>

  <main role="main">
    <!-- <h1>$title$</h1> -->
    $body$
  </main>

  <script src="/js/main.js"></script>
</body>
</html>
