<div class="gallery">
  <div class="image-container">
    <img src="/images/full/DSC_3295.jpg" alt="" class="gallery-image active">
    <img src="/images/full/DSC_3294.jpg" alt="" class="gallery-image">
    <img src="/images/full/DSC_3301.jpg" alt="" class="gallery-image">
    <img src="/images/full/DSCF1259 1.jpg" alt="" class="gallery-image">
    <img src="/images/full/DSCF2620.jpg" alt="" class="gallery-image">
    <img src="/images/full/DSCF5042.jpg" alt="" class="gallery-image">
    <img src="/images/full/DSCF5218.jpg" alt="" class="gallery-image">
    <img src="/images/full/DSCF5328.jpg" alt="" class="gallery-image">
    <img src="/images/full/img20230427_09105713.jpg" alt="" class="gallery-image">
    <img src="/images/full/img20230427_09053635 1.jpg" alt="" class="gallery-image">
  </div>
</div>
