<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jack D. Douglas</title>
    <link rel="stylesheet" href="/css/default.css" />
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <script type="text/javascript" src="/js/transitions.js"></script>
  </head>

  <body>
    <header>
      <div class="nav">
        <a href="/">Jack D. Douglas</a>
        <div class="nav-center">
          <a href="/">Words,</a>
          <a href="/images.html" class="active">Images</a>
        </div>
        <a href="/about.html">Information</a>
      </div>
    </header>

    <main role="main">
      <!-- <h1>$title$</h1> -->
      $body$
    </main>
  </body>
</html>
